<!-- <nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand">Your To-Do List</a>
  <form class="form-inline" (submit)="addTodo()">
    <input 
      class="form-control mr-sm-2" 
      type="add" 
      placeholder="Enter..." 
      aria-label="Add"
      [(ngModel)]="inputTodo"
    />
    <input type="submit" value="Add Todo" class="todo-submit"> -->
    <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add</button> -->
  <!-- </form> -->
<!-- </nav> --> 
<app-todos></app-todos>